 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
  }

  header {
    background: #111;
    color: white;
    padding: 20px;
  }

  section {
    padding: 40px 20px;
  }

  img {
    width: 300px;
    max-width: 90%;
    margin: 15px;
    border-radius: 10px;
  }

  .quote {
    background: white;
    margin: 15px auto;
    padding: 15px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }

nav {
  background: #111;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

